.caps {
    text-transform: capitalize;
}

table, th, td {
    border: 1px, solid;
}

table {
    width: 100%;
    height: 100%;
}

td {
    padding: 8px;
}

.hide {
    display: none;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    width: 40px;
}

.custom-row {
    display: flex;
}